.devise-page {

  form input {
    //background-color: #fafafa;
    margin: 2px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    //color: #808080;
    padding: 10px 10px;
    width: 100%;
  }
  .boolean {
    margin-top: 3px;
    width: auto;
  }


}
