.text-holder {
  border-radius: 30px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  align-self: center;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.fa-unlock-alt {
  color: rgb(2, 163, 2);
  padding: 2px;

}
.fa-lock {
  color: rgba(255, 0, 0, 0.904);
  padding: 2px;

}
.fa-edit {
  padding: 2px;
}

.fas {
  &:hover {
    transform: scale(1.3);
  }
}

.bottom-icons {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.fa-star {
  color: rgb(204, 204, 204);
  &:hover{
    color: rgb(255, 119, 0);
  }
}
.star-hover {

  color: rgb(255, 119, 0);
}
