<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-12">
      <div class="d-flex flex-wrap justify-content-center">
        <% @users.each do |u| %>
          <% unless u.professor %>
            <div class="d-flex flex-column m-2 mb-0 align-items-center">
              <%= cl_image_tag u.photo.key, class: "avatar-large align-self-center",
                transformation: [ {gravity: :face, height: 400, width: 400, crop: :fill},
                {radius: :max},
                {width: 200, crop: :scale} ] %>
              <%= u.nome_completo.split(" ")[0].titleize if u.nome_completo.present? %>
              <i class="far fa-star star-index"></i>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
