<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <% if @test.private == true || current_user.teacher %>

        <% @question.each do |q| %>
          <h4><%= q %></h4>
        <% end %>
        <%= link_to "Responder", new_test_answer_path(@test) %>
      <% else %>
        <h4>Você não tem autorização para acessar essa página</h4>
      <% end %>
      <%= render 'shared/footer' %>
    </div>
  </div>
</div>
